## Pré-processamento

In [15]:
import numpy as np
import math
import pandas as pd

In [4]:
dataset = pd.read_csv('fashion-mnist_train.csv')

In [12]:
dataset[1:5]

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Temos 60k imagens divididas entre 9 classes. Cada imagem possui 785 pixels que variam do valor 0 (preto) a 255 (branco).

#### Por se tratar de imagens, em que os valores de todas as features são semelhantes, não aplicamos nenhuma técnica de normalização ou detecção de outliers.

## Gradient Descent

In [ ]:
def gradient_descent(theta, X, Y, alpha):
  J = np.dot(X, theta)
  J = J.reshape((len(J),1))
  J = np.subtract(J,Y)
  cost = np.sum(np.square(J))/(2*len(X))
  new_theta = np.zeros(len(theta))
  for j in range(0,len(theta)):
    new_theta[j] = theta[j] - alpha*(1/len(X))*np.dot(np.transpose(X[:,j]), J)
  return new_theta, cost

## Sigmoid

In [36]:
def sigmoid(z):
    g = np.multiply(z, -1)
    g = np.exp(g)
    g = np.add(g, 1)
    g = np.divide(1,g)
    return g

## Linear Regression

In [14]:
def cost()


def train_lr(theta, X, Y, iteracoes, alpha):
  dash = '-' * 40
  costs = []
  n = len(theta)
  m = len(X)
  Xt = np.transpose(X)
  grad = alpha*(1/m)

  for i in range(0,iteracoes):
    H = sigmoid(np.dot(X, theta))
    J = np.subtract(J,Y)
    cost = np.sum(np.square(J))/(2*m)
    new_theta = np.zeros(n)
    new_theta = np.subtract(theta,np.multiply(grad,np.dot(Xt, J)))
    theta = new_theta
    costs.append(cost)
    
  for i in range(0, iteracoes, iteracoes//10):  
    print('Iteracao: {:<10d} Custo: {:<10f}'.format(i,costs[i]))
    
  print(dash)
  
  for i in range(0, len(theta)):
    print('Theta {:<1d} = {:<10f}'.format(i, theta[i])) 
    
  plt.plot(range(0,iteracoes),costs)
  plt.ylabel('Custo')
  plt.xlabel('Iterações')
  plt.show()